@model IEnumerable<University_App2.Models.Professors>

@{
    ViewBag.Title = "Professor_List";
}

<h2>Professor List</h2>


<h2>Welcome to Professors List.</h2>
<p>Here you can view the list of Professors.</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professors_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listof_Courses_taught)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Professors_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Listof_Courses_taught)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Professor_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Professor_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Professor_ID })
            </td>
        </tr>
    }

</table>
